@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
@import url("https://use.typekit.net/arn8rhq.css");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans TC",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    overflow-x: hidden;
    letter-spacing: 0.1em;
}

a{
    color: #3E3A39;
    transition: .5s;
}

a:hover{
    color: #3e3a3995;
}

.link-white {
    color: #ffffff;
    transition: .5s;
}

.link-white:hover {
    color: #ffffff95;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #00A9A9;
    opacity: 1;
}

.third-img {
    height: 220px;
    background-color: #00A9A9;
}

.third-content {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
    padding: 2rem;
    letter-spacing: 0.1em;
    line-height: 220%;
}


.third {
    position: absolute;
    top: 76rem;
    right: .5rem;
    width: 95vw;
    height: 65vh;
}

.product-hover {
    position: absolute;
    top: 324px;
    width: 91.5%;
    height: 35px;
    background: rgba(0, 0, 0, 0.6);
    line-height: 100%;
    text-align: center;
    opacity: 0;
    padding: 10px 0;
    transition: .8s;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .carousel-caption {
        bottom: 3rem;
    }

    .banner-title {
        font-family: 'playfair-display','Noto Serif TC';
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.2em;
    }
    
    .banner-title-eng {
        font-family: 'playfair-display','Noto Serif TC';
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.15em;
    }

    .third-img {
        height: 235px;
        background-color: #00A9A9;
    }

    .third-content {
        background-color: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
        padding: 2rem;
        letter-spacing: 0.1em;
        line-height: 220%;
    }


    .third {
        position: absolute;
        top: 70rem;
        right: 1rem;
        width: 80vw;
        height: 30vh;
    }

    .product-hover {
        position: absolute;
        top: 190px;
        width: 87%;
        height: 35px;
        background: rgba(0, 0, 0, 0.6);
        line-height: 100%;
        text-align: center;
        opacity: 0;
        padding: 10px 0;
        transition: .8s;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .carousel-caption {
        bottom: 8rem;
    }

    .banner-title {
        font-family: 'playfair-display','Noto Serif TC';
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 0.2em;
    }
    
    .banner-title-eng {
        font-family: 'playfair-display','Noto Serif TC';
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 0.15em;
    }

    .third-img {
        height: 290px;
        background-color: #00A9A9;
    }

    .third-content {
        background-color: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
        padding: 5rem;
        letter-spacing: 0.1em;
        line-height: 220%;
    }


    .third {
        position: absolute;
        top: 100rem;
        right: 2rem;
        width: 60vw;
        height: 55vh;
    }

    .product-hover {
        position: absolute;
        top: 202px;
        width: 87.5%;
        height: 35px;
        background: rgba(0, 0, 0, 0.6);
        line-height: 100%;
        text-align: center;
        opacity: 0;
        padding: 10px 0;
        transition: .8s;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .carousel-caption {
        bottom: 15rem;
    }

    .banner-title {
        font-family: 'playfair-display', 'Noto Serif TC';
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 0.2em;
    }

    .banner-title-eng {
        font-family: 'playfair-display', 'Noto Serif TC';
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 0.15em;
    }

    .third-img {
        height: 446.5px;
        background-color: #00A9A9;
    }

    .third-content {
        background-color: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
        padding: 5rem;
        letter-spacing: 0.1em;
        line-height: 220%;
    }


    .third {
        position: absolute;
        top: 100rem;
        right: 2rem;
        width: 60vw;
        height: 55vh;
    }

    .product-hover {
        position: absolute;
        top: 202px;
        width: 87.5%;
        height: 35px;
        background: rgba(0, 0, 0, 0.6);
        line-height: 100%;
        text-align: center;
        opacity: 0;
        padding: 10px 0;
        transition: .8s;
    }
}


.btn {
    padding: .5rem 1.75rem;
    border-radius: 1.5rem;
}

.section-second {
    background-image: url(../img/about.png);
    padding: 5rem 0;
}

.about-content {
    line-height: 220%;
}

.about-titile {
    font-family: 'Noto Serif TC';
    font-size: 24px;
}

.about-image {
    margin-top: -15rem;
}

.about-image-border {
    border: 8px solid #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.section-fourth {
    padding: 10rem 0;
    background: rgba(0, 149, 175, 0.03);
}


#product-item:hover .product-hover {
    opacity: 1;
}

.product-tab-bg {
    background-color: #00A9A9;
    background-image: url(../img/product.png);
}

.product-tab-link {
    color: #ffffff;
}

.product-tab-link:hover {
    text-decoration: double;
    color: #ffffff80;
}

.product-tab-link-active {
    border-bottom: 3px double #ffffff;
}

.section-fifth {
    padding: 5rem 0;
    background-image: url(../img/video.jpg);
}

.pressure-content {
    line-height: 220%;
}

.section-sixth {
    padding: 5rem 0;
}


.contact {
    background-color: #00A9A9;
}

.store {
    background-color: #0095AF;;
}

.contact-link {
    color: #ffffffff;
    font-family: 'playfair-display','Noto Serif TC';
    font-size: 34px;
    line-height: 50px;
    letter-spacing: 0.2em;
}


.footer-btn {
    display: inline-block;
    width: 100px;
    height: 100px;
    color: #00A9A9;
    background: #E0F5F5;
    border-radius: 15px;
    padding: 10px;
    padding-top: 25px;
    vertical-align: middle;
}